<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>化学式クイズ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
    <script src="{{ url_for('static', filename='js/quiz.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>化学式クイズ</h1>
        <nav>
            <a href="{{ url_for('index') }}">メインメニューに戻る</a>
        </nav>
    </header>
    <main>
        <h2 id="question"></h2>
        <form id="quizForm">
            <select id="options"></select>
            <button type="submit" id="submit-button">答える</button>
        </form>
        <div id="result"></div>
    </main>
    <footer>
        <p>© 2024 Rub</p>
    </footer>
</body>
</html>
